$color-white: #ffffff;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #EDEDED;
$color-grey-dark: #A2A1A1;
$color-grey-dark-2: #515A5F;
$text-color: #737373;

$color-black: #000000;


$color-primary: #0A0A56;
$color-primary-light: #2717d5;
$color-primary-light-1: #120165;
$color-primary-dark: #0c0432;


$color-blue-dark: #060616;
$color-blue-dark-2: #030120;

$color-secondary: #2C0A54;
$color-secondary-light: #541A8A;
$color-secondary-light-2: #251052;
$color-secondary-dark: #0C071B;

