@import '../../sass/abstracts/variables';

.dashboard {
    display: grid;
    grid-template-columns: minmax(min-content, 22vw) minmax(min-content, 78vw);

    background-color: $color-grey-light;
    position: relative;

    &__nav {
        grid-column: 1 / -1;
        z-index: 90;
    }

    &__sidebar {
        position: fixed;
        width: 18vw;

        @media only screen and (max-width: $bp-large) {
            width: 21vw;
        }

        @media only screen and (max-width: $bp-large) {
            transform: translateX(-100%);
        }
    }

    &__main {
        grid-column: 2 / -1;

        @media only screen and (max-width: $bp-large) {
            grid-column: 1 / -1;
        }

    }
}