@import '../../sass/abstracts/variables';

.dashboard {
    display: grid;
    grid-template-columns: minmax(min-content, 22vw) minmax(min-content, 78vw);
    // grid-template-rows: min-content 100vh min-content;

    background-color: $color-grey-light;
    position: relative;

    &__nav {
        grid-column: 1 / -1;
        z-index: 90;
    }

    &__sidebar {
        // margin-right: 3rem;
        position: fixed;
        width: 18vw;

        @media only screen and (max-width: $bp-large) {
            width: 21vw;
        }
        
    }

     &__main {
        //   background-color: palevioletred;
        grid-column: 2 / -1;

     }
}