@import '../../sass/abstracts/variables';

.user-search {
    min-height: 80vh;
    margin-top: 3rem;
    padding-right: 3rem;

    @media only screen and (max-width: $bp-large) {
        margin-left: 4rem;
    }
}