@import '../../sass/abstracts/variables';

.country-page{
    min-height: 80vh;

    &__heading {
        margin-top: 3rem;
        font-size: 3rem;
        font-weight: 300;
    }

    &__form-group {
        margin-top: 2rem;
    }

    &__label {
        font-size: 1.6rem;
        margin-right: 1.2rem;
    }

    &__form-input {
        padding: .4rem 1rem;
        width: 30rem;
        border: 1px solid $color-grey-dark-2;
        border-radius: .4rem;
    }

    &__submit {
        padding: .3rem 3rem;
        margin-top: .8rem;
        border: none;
        background-color: $color-primary;
        color: $color-white;
        cursor: pointer;

        &:hover {
            box-shadow: 2px 3px 4px -1px rgba(0,0,0,0.75);
        }
    }

    &__table {
        margin-top: 3rem;
        width: 20%;

        &--states {
            
        }

        &--cities {

        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__table-header {
        background-color: $color-primary;
    }

    &__table-heading {
        color: $color-white;
        padding: .1rem .5rem;
        font-size: 1.4rem;
    }

    &__table-text {
        color: $text-color;
        font-size: 1.3rem;
    }

    &__table-data {
        
        &:nth-child(2n) {
            background-color: $color-grey-light-3;
            transition: all .2s;
        }
    }

    &__table-action {
        text-decoration: underline;
    }
}