@import '../../sass/abstracts/variables';

.users {
    min-height: 88vh;
    width: 98%;
    padding: 1rem;
    padding-bottom: 15rem;

    &__page-top {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    &__heading {
        font-weight: 400;
        font-size: 2.5rem;
        margin-right: auto;

        &--1 {
            color: blue;
        }

        &--2 {
            color: green;
        }

        &--3 {
            color: red
        }
    }

    &__count {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 15rem));
        grid-gap: 1rem;

        background-color: $color-white;
        box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.75);
        padding: 2rem;
        border-radius: 1.2rem;
        margin-top: .3rem;
        margin-bottom: 5rem;
    }

    &__count-box {

        &--number {
            font-size: 2.2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
        }

        &--text {
            color: $text-color;
            font-size: 1.3rem;
            font-weight: 700;
        }
    }

    &__sort {
        padding: 1rem 2rem;
    }

    &__sort-heading {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    &__sort-box {
        display: flex;
        align-items: center;
    }

    &__dropdown:not(:last-child) {
        margin-right: 2rem;
    }

    &__table-more {
        margin-top: 2rem;
        padding: .8rem 8rem;
        border: 1.2px solid $color-primary-dark;
        background-color: $color-white;
        color: $color-primary-dark;
        cursor: pointer;
        border-radius: 1.2rem;
        box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
        font-size: 1.6rem;

        &:hover {
            background-color: $color-primary;
            color: $color-white;
        }

    }

    &__label {
        font-size: 1.4rem;
        color: $text-color;
        margin-right: 1rem;
    }

    &__select {
        border: .6px solid $color-grey-dark-2;
        border-radius: 1.2rem;
        padding: .2rem .4rem;
        box-shadow: 4px 4px 11px -6px rgba(0,0,0,0.75);
    }
}

.align-center {
    display: flex;
    justify-content: center;
}