@import '../../sass/abstracts/variables';

.add-agent {
    min-height: 80vh;

    @media only screen and (max-width: $bp-large) {
        margin-left: 3rem;
    }

    &__heading {
        font-size: 2.2rem;
        margin-top: 2rem;
        font-weight: 300;
    }

    &__form {
        margin-top: 3rem;
    }

    &__label {
        font-size: 1.4rem;
        margin-right: 2rem;
        color: $text-color;
    }

    &__input {
        padding: .4rem 1rem;
        width: 25rem;
        border: 1px solid grey;
        margin-right: 3rem;
    }

    &__submit {
        padding: .8rem 3.4rem;
        background-color: $color-primary;
        border: none;
        color: $color-white;
        font-weight: 700;
        cursor: pointer;
        display: block;
        margin-top: 3rem;
    }

    &__icon {
        color: $color-white !important;
    }
}