.homepage {
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;

    &__boxes {
        background-color: #ffffff;
        padding: 3rem;
        border-radius: 1.5rem;
        box-shadow: 0px 2px 28px -4px rgba(0,0,0,0.75);

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 3rem;
    }

    &__box {
        border-radius: 1rem;
        padding: 1rem;

        &--1 {
            background: linear-gradient(to left, #ff512f, #f09819);
        }

        &--2 {
            background: linear-gradient(to left, #ff512f, #dd2476);
        }

        &--3 {
            background: linear-gradient(to left, #fc5c7d, #6a82fb);
        }

        &--4 {
            background: linear-gradient(to left, #0052d4, #4364f7, #6fb1fc);
        }
    }
}